<h1><br> Reply to post
<p><%=link_to "Back to Post", board_post_path(@board, @post) %></p>
</h1>
<%= render 'form' %>

<div class="space">
</div>

<div class="space">
</div>

<div class="space">
</div>
