<h1>Comment for post: <br><%=  @post.title %> </h1>

<h2> Comment at <%= @comment.updated_at.localtime.to_formatted_s(:short) %> by <%= @comment.author %></h2>
 <br>

 <p> **image goes here</p>

 <p><%= @comment.comment %></p>
