<!-- NHO: Is this view being used? if not, I'd remove all code related to it...  -->

You added a post!

<p><%=link_to "Back to Board", board_post_path %>

  <div class="space">
  </div>

  <div class="space">
  </div>

  <div class="space">
  </div>
