<div ="top">
<h1>Town Board</h1>
<p>list some stuff!</p>
</div>
<br>


  <% @boards.each do |board| %>
  <table>
    <td> <%= board.posts.count %> Post is looking <%= link_to board.title, board_path(board.id) %> ...</td>
  <% end %>
</table>
