h1{
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 60px;
  background-image: url("sign.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding: 100px;

}
p{
  font-size: 30px;
    text-align: center;
      font-family: 'Bangers', cursive;
}
table{
  font-size: 25px;
    font-family: 'Bangers', cursive;
}
.right{
  text-align: right;
}
.middle{
  text-align: center;
}
.left{
  text-align: left;
}
.board{
  margin: auto;
  width: 50%;
}
.mainboard{
  margin: auto;
  width: 25%;
}
.alert{
  color:#f00;
 }
